* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  color: #e5e8eb
  #353840
  */
}

textarea:focus, input:focus{
    outline: none;
}

html {
  font-family: "Poppins", sans-serif;
  /* background-color: #fff; */
}

a {
    text-decoration: none
}

button, p, span{
    font-family: "Poppins", sans-serif;
}

.header {
  /* margin: 0 20px; */
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  width: 100%;
  padding: 0px 20px;
  height: 71px;
  display: flex;
  line-height: 30px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.nav-left {
    display: flex;
    align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img-logo {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}

.nav-search {
    display: flex;
    align-items: center;
    padding-left: 190px;
}
.form-search{
    width: 420px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 12px;
    color: #353840;
    border-color: #e5e8eb;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    
}
.search-input{
    width: 373px;
    border: none;
    font-size: 15px;
    margin-left: auto;
    padding-left: 10px;
    letter-spacing: 0.4px;
    font-family: "Poppins", sans-serif;
    color: #353840;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.list-menu{
    display: flex;
    align-items: center;
}
.menu-item{
    padding: 0px 20px;
}
.menu-title{
    color: rgb(67, 77, 86);
    text-align: left;
    font-weight: 600;
}

.menu-title .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}


.banner{
    height: 586px;
    background-color: rgba(224, 222, 220, 0.4);
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.banner-left{
    padding-left: 65px;
    text-align: left;
    padding-top: 110px;
}
.banner-left-title{
    font-size: 45px;
    font-weight: 600;
    width: 580px;
    line-height: 50px;
    margin-bottom: 20px;
}
.banner-left-description{
    width: 400px;
    font-size: 24px;
    line-height: 36px;
}
.button-explore-create{
    margin-top: 40px;
}
.button-explore{
    width: 167px;
    height: 50px;
    border-radius: 10px;
    background-color: #2081e2;
    border-color: #2081e2;
    border-width: 1px;
    border-style: solid;
    padding: 12px 20px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    line-height: 24px;

}
.button-create{
    width: 167px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #2081e2;
    border-width: 1px;
    border-style: solid;
    padding: 12px 20px;
    font-weight: 600;
    color: #2081e2;
    margin-left: 20px;
    font-size: 15px;
    line-height: 24px;
}

.banner-right{
    margin-right: 65px;
    background-color: #fff;
    height: 500px;
    margin-top: 40px;

}
.banner-cart-img{
    border-radius: 10px 10px 0px 0px;
}
.baner-cart-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 84px;
    border-color: #353840;
    padding: 0 16px;
    background-color: #fff;
    margin-bottom: auto;
    border-radius: 0px 0px 10px 10px;
    
}
.info-nft{
    display: flex;
    line-height: 22.5px;
}
.avater-user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
.title-cart{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

}
.descript-cart{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #1868b7;
}
